In [3]:
import yfinance as yf
df = yf.download('GLD','2020-12-01','2020-12-12')

[*********************100%***********************]  1 of 1 completed

In [4]:
df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-11-30,166.679993,167.429993,166.029999,166.669998,166.669998,13210000
2020-12-01,169.759995,170.479996,169.300003,170.179993,170.179993,13555200
2020-12-02,170.570007,171.759995,170.149994,171.460007,171.460007,9199700
2020-12-03,172.639999,172.850006,171.080002,172.809998,172.809998,10457300
2020-12-04,172.779999,173.320007,171.589996,172.320007,172.320007,10098600
2020-12-07,172.559998,175.289993,172.509995,174.889999,174.889999,10555100
2020-12-08,175.509995,175.929993,174.720001,175.500000,175.500000,6348400
2020-12-09,173.919998,174.039993,171.240005,172.500000,172.500000,10743200
2020-12-10,172.899994,173.580002,171.699997,172.169998,172.169998,6564000
2020-12-11,172.250000,173.320007,172.110001,172.490005,172.490005,6084100